:root {
  --pattern: #fff;
  --pattern-2: #000;

  --bg: #9DCDD4;
  --bg-2: #579ED4;
  --border: #57D4B9;
  --erro: #f00;
  --sucess: #57D48E;
}

body {
  background-color: var(--border);
}

a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #222;
  background-color: #e2e2e2;
  border: 1px solid #000;
  padding: 10px 15px;
  border-radius: 5px;
}

.catalogo {
  display: flex;
  flex-wrap: wrap;
}

.livro-box {
  width: 300px;
  height: 400px;
  margin-bottom: 50px;
  background-color: rgb(87, 158, 212, 0.8);
  border-radius: 16px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.capa {
  height: 180px;
}

img {
  width: 120px;
}